[Unit]
Description=Playlist_Sync

[Service]
Type=oneshot
ExecStart=sh -c 'rsync -ruPh /media/Playlist_Sync/ root@10.8.0.0:/mnt/NetworkShares/Labyrinth/Youtube/'
ExecStart=sh -c 'rm -rf /media/Playlist_Sync/*'
WorkingDirectory=/