[Unit]
Description=video_sync

[Service]
Type=oneshot
ExecStart=sh -c 'rsync -ruPh /media/PlaylistSync/ root@10.8.0.0:/mnt/NetworkShares/Labyrinth/Youtube/'
ExecStart=sh -c 'rm -rf /media/PlaylistSync/*'
WorkingDirectory=/